@import "tailwindcss";

*{
  @apply scroll-smooth;
}

@layer component {
  .glass-effect {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(14, 14, 14, 0.04);
  }

  .glass-effect-card {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(14, 14, 14, 0.04);
  }

  .filter-selectBox{
    @apply flex items-center justify-center gap-2;
  }
  
  .title-icon{
    @apply inline-block ring-6 ring-sky-400/20 ring-offset-2 ring-offset-sky-400 p-1 bg-sky-400 rounded-full;
  }

  .replied{
    @apply bg-gray-100 border-none dark:bg-primary-dark;
  }

  .panel-box{
    @apply w-full shadow shadow-black/5 bg-white dark:bg-secondary rounded-xl;
  }

  .ticket-message-user{
    @apply w-1/2 bg-white dark:bg-secondary text-light-gray dark:text-gray-300 rounded-md p-2 relative z-10 after:block after:w-5 after:h-5 after:bg-white dark:after:bg-secondary after:absolute after:-right-2.5 after:bottom-0 after:-z-10 before:block before:w-5 before:h-5 before:bg-gray-100 dark:before:bg-primary before:rounded-bl-full before:absolute before:-right-5 before:bottom-0 before:z-10;
  }
  
  .ticket-message-user span{
    @apply text-gray-400 dark:text-gray-600;
  }
  
  .ticket-message-admin{
    @apply w-1/2 bg-sky-400 text-white rounded-md p-2 relative z-10 after:block after:w-5 after:h-5 after:bg-sky-400 after:absolute after:-left-2.5 after:bottom-0 after:-z-10 before:block before:w-5 before:h-5 before:bg-gray-100 dark:before:bg-primary before:rounded-br-full before:absolute before:-left-5 before:bottom-0 before:z-10;
  }

  .ticket-message-admin span{
    @apply text-white;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.filter-type input[type="radio"]:checked + label{
  @apply bg-sky-500 !text-white;
}

.genreType input[type="radio"]:checked + label{
  @apply bg-sky-500 text-white hover:text-white;
}

.filter-lang input[type="checkbox"]:checked + label > div{
  @apply !bg-sky-100;
}

.filter-lang input[type="checkbox"]:checked + label > div > span{
  @apply !-translate-x-4/5  !bg-sky-500;
}

.activeDay{
  @apply !bg-secondary !text-white dark:!bg-white dark:!text-secondary;
}

.active-paginate{
  @apply bg-sky-500 text-white dark:text-primary border-sky-500 hover:bg-sky-500 ;
}

.activeMovieTab{
  @apply text-sky-500 font-bold border-b border-sky-500 after:border-sky-500 after:border-b-transparent after:border-r-transparent after:border-l-transparent;
}

.activeLink li{
  @apply !text-sky-500 font-shabnam font-bold;
}

.activePanelLink {
  @apply bg-sky-500 hover:bg-sky-500;
}

.activePanelLink svg{
  @apply text-white;
}

.activePanelLink span{
  @apply text-white;
}

.movieTabs::-webkit-scrollbar {
  display: none;
  opacity:0;
}

.movieTabs::-webkit-scrollbar-track {
  display: none;
  opacity:0;
}

.vipPlanSelection input[type="radio"]:checked + label{
  @apply bg-yellow-400;
}

.vipPlanSelection input[type="radio"]:checked + label > span{
  @apply text-primary;
}

/* fonts */

@font-face {
  font-family: Shabnam;
  src: url("./assets/fonts/Shabnam-Medium.ttf");
}

@font-face {
  font-family: ShabnamLight;
  src: url("./assets/fonts/Shabnam-Light.ttf");
}

@font-face {
  font-family: Vazir;
  src: url("./assets/fonts/Vazirmatn-Medium.ttf");
}

@font-face {
  font-family: VazirLight;
  src: url("./assets/fonts/Vazirmatn-Light.ttf");
}

/* custom styles */

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-vazir: "Vazir";
  --font-vazir-light: "VazirLight";
  --font-shabnam: "Shabnam";
  --font-shabnam-light: "ShabnamLight";

  --purpleCustom : #813167;
  --orangeCustom : #ff5722;
  /* --custom-bg-primary: #1d1c21;
  --custom-bg-secondary: #0d0d0d; */
  /* --color-light:#f8f9fa ; */
  
  --color-primary: #1b1c22 ;
  --color-primary-dark:#141415;
  --color-secondary: #23242a ;

  --color-light:#f8fafa ;
  
  --color-light-gray: #6a89a9;
  
  --breakpoint-xs:30rem;
}
